@*
    _DefaultSendMessageComponent
*@
<div class="col-lg-7">
    <form method="post" asp-action="SendMessage" asp-controller="Default" class="php-   email-form" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">

            <div class="col-md-6">
                <label for="name-field" class="pb-2">Adınız</label>
                <input type="text" name="Name" class="form-control" required="">
            </div>

            <div class="col-md-6">
                <label for="email-field" class="pb-2">Email Adresiniz</label>
                <input type="email" class="form-control" name="Email" required="">
            </div>

            <div class="col-md-12">
                <label for="subject-field" class="pb-2">Konu</label>
                <input type="text" class="form-control" name="Subject" required="">
            </div>

            <div class="col-md-12">
                <label for="message-field" class="pb-2">Mesajınız</label>
                <textarea class="form-control" name="MessageBody" rows="10" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
                <button class="btn btn-outline-primary" type="submit" onclick="sendMessage()">Mesajı Gönder</button>
            </div>

        </div>
    </form>
</div>


<script>
    function sendMessage() 
    {
        Swal.fire({
            title: "Mesajınız Gönderildi!",
            icon: "success",
            draggable: true
        });

    }
</script>